#header {
	height: 77px;
}
.site-title {
	margin-top: 0px;
}
.main-menu {
	margin-top: 22.5px;
}
.right-bar {
	top: 16px;
}
.tel-email {
	margin-top: 16px;
}


.tel-email, .right-bar div div, .banner-button, .read-more:hover, .accordion .current, .accordion .current span, .pricing-header, .pricing-table-button, .pricing-featured .pricing-table-button {
	background-color: #8cc7ae;
}
.current-menu-item a, .sf-menu li.sfHover a, .sf-menu li a:hover, #main-menu .sf-menu li ul li a:hover, #main-menu .sf-menu li li.sfHover a, #main-menu .sf-menu li li.sfHover li a:hover, .read-more, .pagination .current, .pagination .inactive:hover, .pagination .pagi-first:hover, .pagination .pagi-last:hover, .pagination .pagi-previous:hover, .pagination .pagi-next:hover, .thumb-overlay-content, .gallery-single-page .flex-prev:hover, .gallery-single-page .flex-next:hover, #searchsubmit, .banner-button:hover, .pricing-featured .pricing-header, .pricing-featured .pricing-table-button {
	background-color: #a188bc;
}
a:hover, .news-item h3 a:hover, .thecarousel a, #footer a:hover, .copyright a:hover, .footer-menu .current-menu-item a, .entry-title a:hover, .entry-meta ul li a:hover, .sidebar-widget a:hover, .popular-posts h4 a:hover, .comment-text cite a:hover {
	color: #8cc7ae;
}
.latest-tweets li a, .gallery-filters .active, .gallery-filters a:hover {
		color: #a188bc;
}
.accordion .current {
	border: 1px solid #8cc7ae;
}
.accordion .pane {
	border-color: #8cc7ae;
}
.fc-header-left, #aec-modal-container .aec-title, #aec-modal .link:hover {
	background-color: #8cc7ae !important;
}
#aec-calendar .fc-event, #aec-modal .link {
	background-color: #a188bc !important;
}
